.predoc-doc {
  flex: 1 0;
  display: flex;
  flex-direction: row;
  background-color: var(--bg);

  .predoc-doc-aside {
    flex: 0 0 300px;
    min-width: 0;
    border-right: 1px solid var(--predoc-border-light);

    .predoc-doc-aside-container {
      padding: 6px 0 6px 6px;
      position: sticky;
      top: 52px;
      left: 0;
      max-height: calc(100vh - 52px);
      overflow-y: auto;

      .predoc-side-title {
        transition: all 250ms linear;
        cursor: pointer;
        height: 32px;
        display: flex;

        &.current {
          background-color: var(--predoc-bg-gray);
          .predoc-link {
            background-color: var(--predoc-bg-gray);
            color: var(--primary);
            border-radius: 4px 0 0 4px;
          }
          .predoc-side-toggle {
            background-color: var(--predoc-bg-gray);
          }
        }

        .predoc-side-toggle {
          transition: all 250ms linear;
          height: 32px;
          width: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;

          svg {
            transform: rotate(180deg);
            transform-origin: center;
            transition: all 300ms linear;
          }

          &.close svg {
            transform: rotate(90deg);
          }
        }

        &:hover {
          background-color: var(--predoc-bg-gray);

          .predoc-link {
            border-radius: 4px 0 0 4px;
            color: var(--primary);
          }

          .predoc-side-toggle {
            background-color: var(--predoc-bg-gray2);
          }
        }

        &.predoc-link-no-index:hover {
          .predoc-side-toggle {
            background-color: var(--predoc-bg-gray);
          }
        }

        .predoc-link {
          display: inline-block;
          padding: 6px 10px;
          border-radius: 4px 0 0 4px;
          flex: 1;
          cursor: pointer;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: pre;
        }
      }
    }
  }

  .predoc-doc-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 0;

    .predoc-doc-content {
      flex: 8 1 auto;
      display: flex;
      width: 0;
      flex-direction: column;
      box-sizing: border-box;

      .predoc-doc-render {
        padding: 24px;
      }
    }

    .predoc-doc-toc {
      padding: var(--predoc-padding);
      height: 100%;
      width: 0;
      flex: 2 1 auto;

      .predoc-doc-toc-box {
        position: sticky;
        top: 80px;
        left: 0;
        max-height: calc(100vh - 120px);
        overflow-y: auto;
        border-left: 1px solid var(--predoc-border-light);

        .predoc-toc-box {
          .predoc-toc-item {
            cursor: pointer;

            &:hover .predoc-toc-link {
              color: var(--primary);
            }
          }

          .predoc-toc-list {
            list-style: none;
            margin: 0;
            padding: 5px 16px;

            .predoc-toc-link {
              text-decoration: none;
              color: var(--color);
              line-height: 26px;
              font-size: 14px;
              transition: all 250ms linear;

              &:hover {
                color: var(--primary);
              }
            }
          }

          #aside-marker {
            // background-color: rgba(var(--primary-color), 0.1);
            border-left: 2px solid var(--primary);
            width: 90%;
            height: 24px;
            left: 0px;
            position: absolute;
            z-index: 1;
            top: 5px;
            transition: all 250ms linear;
          }
        }
      }
    }
  }

  .predoc-doc-footer {
    padding: var(--predoc-padding-large);

    .predoc-doc-prev-next {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }

    .predoc-doc-prev,
    .predoc-doc-next {
      flex: 1 0 50%;
      overflow: auto;
      display: inline-block;

      a {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px;
        border: 1px solid var(--predoc-border-light);
        border-radius: 5px;
        transition: all 250ms linear;
        text-overflow: ellipsis;
        white-space: pre;

        &:hover {
          border-color: var(--primary);
        }
      }

      .predoc-doc-next-tip,
      .predoc-doc-prev-tip {
        font-size: 0.6rem;
        color: rgba(var(--primary-color-light), 1);
      }

      .predoc-doc-next-title,
      .predoc-doc-prev-title {
        font-size: 1rem;
        // color: var(--color);
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  .predoc-back2top {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--primary);
    transition: all 300ms ease-in-out;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--primary-light);
    }

    &:active {
      background-color: var(--primary-dark);
    }
  }
}