.link:hover {
  color: var(--primary);
  transition: color 0.2s;
}

.link {
  font-size: 14px;
  font-weight: 500;
  color: var(--color);
  text-decoration: none;
}

.social-link-icon {
  display: flex;
  fill: currentColor;
  transition: color 0.2s;
  color: var(--color);
  &:hover {
    color: var(--primary);
  }
}

.header {
  background-color: var(--predoc-nav-bg);
  backdrop-filter: blur(10px);
}
