.predoc-theme-toggle {
  width: 4em;
  height: 2.2em;
  border-radius: 3em;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  background-color: transparent;

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2a2a2a;
    transition: 0.4s;
    border-radius: 30px;
    overflow: hidden;

    .star {
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      width: 5px;
      transition: all 0.4s;
      height: 5px;
    }

    .star_1 {
      left: 2.5em;
      top: 0.5em;
    }

    .star_2 {
      left: 2.2em;
      top: 1.2em;
    }

    .star_3 {
      left: 3em;
      top: 0.9em;
    }

    .icon-cloud {
      width: 3.5em;
      position: absolute;
      bottom: -1.4em;
      left: -1.1em;
      opacity: 0;
      transition: all 0.4s;
      path {
        transform: matrix(0.77976, 0, 0, 0.78395, -299.99, -418.63);
      }
    }

    &:before {
      position: absolute;
      content: "";
      height: 1.2em;
      width: 1.2em;
      border-radius: 2em;
      left: 0.5em;
      bottom: 0.5em;
      transition: 0.4s;
      transition-timing-function: cubic-bezier(0.81, -0.04, 0.38, 1.5);
      box-shadow: inset 8px -4px 0px 0px #fff;
    }

    &.slider-light {
      background-color: #00a6ff;
    
      &:before {
        transform: translateX(1.8em);
        box-shadow: inset 15px -4px 0px 15px #ffcf48;
      }

      .star {
        opacity: 0;
      }

      .cloud {
        opacity: 1;
      }
    }
  }
}