.code-block {
  border-radius: var(--predoc-border-radius, 8px);
  overflow: hidden;
  border: 1px solid var(--code-block-lang-bg);
  box-shadow: var(--code-block-shadow);
  .lang {
    display: block;
    background-color: var(--code-block-lang-bg);
    padding: var(--predoc-padding-small, 4px);
    font-family: fira code, monospace, consolas, 'Courier New', Courier, sans-serif;
    font-size: 0.8rem;
  }
  .shiki {
    --r: var(--predoc-padding-small, 4px);
    border-radius: 0 0 var(--r) var(--r);
    margin-bottom: 0;
  }
}

.admonition {
  background-color: var(--predoc-info);
}

h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: 60px;
  .header-anchor {
    margin-left: 6px;
    opacity: 0;
    transition: all 300ms linear;
  }
  &:hover .header-anchor {
    opacity: 1;
  }
}
