:root {
  --color-value: 36, 41, 46;
  --color: rgb(var(--color-value));
  --bg-color: 255, 255, 255;
  --bg: rgb(var(--bg-color));
  --foot-bg-color: 247, 248, 250;
  --foot-bg: rgb(var(--foot-bg-color));
  --bg-opacity: 0.2;
  --primary-color: 11, 125, 255;
  --primary-color-light: 45, 139, 245;
  --primary-color-dark: 11, 95, 191;
  --secondary-color: 70, 57, 255;
  --predoc-err-color: 255, 77, 79;
  --predoc-success-color: 82, 196, 26;
  --predoc-warning-color: 250, 173, 20;
  --predoc-info-color: 24, 144, 255;

  --primary: rgb(var(--primary-color));
  --primary-light: rgb(var(--primary-color-light));
  --primary-dark: rgb(var(--primary-color-dark));
  --primary-bg: rgba(var(--primary-color), var(--bg-opacity));

  --secondary: rgb(var(--secondary-color));
  --secondary-bg: rgb(var(--secondary-color), var(--bg-opacity));

  --predoc-err: rgb(var(--predoc-err-color));
  --predoc-err-bg: rgb(var(--predoc-err-color), var(--bg-opacity));

  --predoc-success: rgb(var(--predoc-success-color));
  --predoc-success-bg: rgb(var(--predoc-success-color), var(--bg-opacity));

  --predoc-warning: rgb(var(--predoc-warning-color));
  --predoc-warning-bg: rgb(var(--predoc-warning-color), var(--bg-opacity));

  --predoc-info: rgb(var(--predoc-info-color));
  --predoc-info-bg: rgb(var(--predoc-info-color), var(--bg-opacity));

  --predoc-border-light: #ddd;
  --predoc-line-height: 1.5;

  --predoc-padding: 16px;
  --predoc-padding-mini: 4px;
  --predoc-padding-small: 8px;
  --predoc-padding-large: 24px;
  --predoc-margin: 16px;
  --predoc-margin-mini: 4px;
  --predoc-margin-small: 8px;
  --predoc-margin-large: 24px;
  --predoc-font-size: 16px;
  --predoc-font-size-mini: 12px;
  --predoc-font-size-small: 14px;
  --predoc-font-size-large: 18px;
  --predoc-border-radius: 8px;
  --predoc-border-radius-mini: 2px;
  --predoc-border-radius-small: 4px;
  --predoc-border-radius-large: 12px;
  --predoc-bg-gray: #f3f4f6;
  --predoc-bg-gray2: #eceded;

  --predoc-gray-1: #f9fafb;
  --predoc-gray-2: #f3f4f6;
  --predoc-gray-3: #e5e7eb;
  --predoc-gray-4: #d1d5db;
  --predoc-gray-5: #9ca3af;
  --predoc-gray-6: #6b7280;
  --predoc-gray-7: #4b5563;
  --predoc-gray-8: #1f2937;
  --predoc-gray-9: #111827;
  --predoc-gray-10: #030712;

  --code-block-lang-bg: #f2f4f6;
  --code-block-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
}

html.dark {
  --color-value: 250, 250, 250;
  --bg-color: 13, 17, 23;
  --foot-bg-color: 20, 23, 26;

  --predoc-border-light: #333;
  --predoc-bg-gray: #1f2937;
  --predoc-bg-gray2: #131a24;
  --code-block-lang-bg: #1d1d1d;
  --code-block-shadow: 0 1px 3px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(255, 255, 255, 0.06);
}

